{% extends 'base.html.twig' %}

{% block title %}Panier - my_Burger{% endblock %}

{% block body %}
    {{dump(cart)}}
    <div class="content_panier">
        <h1> Votre panier </h1>

        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Supprimer le panier</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <p>Voulez-vous vraiment supprimer l'ensemble de votre panier ?</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-info" data-bs-dismiss="modal">Non</button>
                <button type="button" class="btn btn-success">
                 <a href="{{path('delete_cart')}}"> Oui </a>
                </button>
              </div>
            </div>
          </div>
        </div>
        
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
          Supprimer le panier
        </button>

        {% for message in app.flashes('notification_supp') %}
          <div class="alert alert-info">
            {{message}}
          </div>
        {% endfor %}

        <table class="table">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">nom</th>
              <th scope="col">quantité</th>
              <th scope="col"> Prix unt</th>
              <th scope="col">Prix</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% set Total = null %}
            {% set nbProduct = null %}
            {% set productPriceAll = null %}

            {% for product in cart %}
              {% set productPriceAll = (product.product.prix * product.quantity)| number_format(2, ',', '.')%}
                <tr>
                    <th scope="row">{{product.product.illustration}}</th>
                    <td>{{product.product.name}}</td>
                    <td>{{product.quantity}}</td>
                    <td>{{product.product.prix}} €</td>
                    <td>{{productPriceAll}} €</td>
                    <td> <a href="{{path('delete_from_cart' , {'id': product.product.id})}}"> Supprimer </a></td>
                </tr>
                {% set nbProduct = nbProduct + product.quantity %}
                {% set Total = Total + (product.product.prix * product.quantity) %}
            {% endfor %}

          </tbody>
        </table>
        <div class="text-right">
          <span><b>Nombre de produit:</b> {{nbProduct}}</span>
          <span><b>Total de mon panier:</b> {{ Total | number_format(2, ',', '.') }} €</span>
        </div>
        <a href="{{path('order')}}" class="btn btn-primary"> Validez mon panier </a>
    </div>
{% endblock %}
