{% extends 'base.html.twig' %}

{% block title %} {{app.user.prenom}} - my_Burger{% endblock %}

{% block stylesheets %}
    
{% endblock %}

{% block body %}

    <div class="content_order">
    <a href="{{path('account')}}" class="btn btn-primary"> Retour </a>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Référence</th>
                    <th scope="col">Date</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                    <tr>
                        <th scope="row">
                            {% if order.statue is same as(1)  %}
                                <span class="badge bg-success"> {{order.reference}} </span>
                            {% elseif order.statue is same as(2) %}
                                <span class="badge bg-danger"> {{order.reference}} </span>
                            {% else %}
                                <span class="badge bg-light text-dark"> {{order.reference}} </span>
                            {% endif %}
                        </th>
                        <td> {{order.createdAt |format_datetime(locale='fr') }} </td>
                        <td> <a href="{{path('account_order_detail' , {'reference' : order.reference })}}"> Voir détail </a> </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
{% endblock %}
