{% extends 'base.html.twig' %}

{% block title %} {{name}} - my_Burger{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('assets/css/product/card_product.css')}}" type="text/css">
            
{% endblock %}

{% block body %}
    {#{dump(fav)}#}
    <div class="content_menus">
        {% if allMenus %}
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                    <div class="modal-header bg-danger">
                        <h5 class="modal-title" id="exampleModalLabel">Action non autoriser</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Impossible d'ajouter un produit aux favoris, vous devez vous connecter ou crée un compte pour cela. 
                    </div>
                    <div class="modal-footer">
                        <a href="{{path('app_login')}}" title="connexion au compte" class="btn btn-secondary" > Se connecter </a>
                        <a href="{{path('register')}}" title="crée un compe" class="btn btn-primary"> Crée un compte </a>
                    </div>
                    </div>
                </div>
            </div>
            {% set isFav = null %}
            {% for menu in allMenus %}
            
                <div class="card" style="width: 18rem;">
                    <div class="img_card">
                        <img src="/uploads/images/products/{{menu.illustration}}" class="card-img-top" alt="{{menu.name}}">
                        <a href="#!" title="ajouter aux favoris"><i class="far fa-heart"></i></a>
                        <a 
                            {% if app.user %}
                                href="{{path('add_favoris', {'userId': app.user.id , 'productId' : menu.id} )}}"
                            {% else %}
                                data-bs-toggle="modal" data-bs-target="#exampleModal"
                            {% endif %}
                                
                            title="ajouter aux favoris"><i id="after" class="fas fa-heart"></i>
                        </a>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{menu.name}}</h5>
                        <a href="#!" class="food-card_author">{{menu.category.getName()}}</a>
                        <p class="card-text">{{menu.description}}</p>
                        <hr/>
                        <div class="space-between">
                            <div class="food-card_price">
                                <span class=""> {{menu.prix}} €</span>
                            </div>
                            <div class="food-card_order-count">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <button class="btn btn-outline-secondary minus-btn" type="button" id="button-addon{{loop.index}}"><i class="fa fa-minus"></i></button>
                                    </div>
                                    <input type="text" class="form-control input-manulator" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon{{loop.index}}" value="0">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary add-btn" type="button" id="button-addon{{loop.index}}"><i class="fa fa-plus"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% if fav %}
                            {% for favs in fav %}
                                {% if favs == menu.name %}
                                    
                                    {% set isFav = 1 %}
                                {% else %}
                                    {% set isFav = null %}
                                {% endif %}
                            {% endfor %} 
                        {% endif %}
                        <div class="none">
                            <span class="a"> {{menu.id}}</span>
                            <span class="b"></span>
                            <span class="c">{{isFav}}</span>
                        </div>
                        <div class="d-grid gap-2">
                            <a href="" class="btn btn-info">Ajouter au panier</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p> Rien a afficher </p>
        {% endif %}

    </div>

   
{% endblock %}
{% block javascripts %}
    <script src="{{asset('assets/js/addProduct/ajoutProduit.js')}}" type="text/javascript"></script> 
    <script src="{{asset('assets/js/addFavoris/Favoris.js')}}" type="text/javascript"></script>       
{% endblock %}