{% extends 'base.html.twig' %}

{% block title %}my_Burger - Récapitulatif order n°{{reference}}{% endblock %}

{% block body %}
    <div class="content_RecapOrder">
        <table class="table">
            <thead>
                <tr>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col">Prix unt</th>
                <th scope="col">Quantité</th>
                <th scope="col">Prix total</th>
                </tr>
            </thead>
            <tbody>
                {% set prix_total = null %}
                {% set total = null %}
                {% set nbProduct = null %}

                {% for product in products_order %}
                {% set nbProduct = nbProduct + product.quantity %}
                {% set prix_total = (product.prix * product.quantity) %}
                {% set total = total + (product.quantity * product.prix) %}
                
                    <tr>
                        <th scope="row"></th>
                        <td>{{product.product}}</td>
                        <td>{{product.prix}}</td>
                        <td>{{product.quantity}}</td>
                        <td>{{prix_total}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="text-right">
            <span><b>Total: </b>{{ total | number_format(2, ',', '.') }} €</span>
            <span><b>Nombre de produit: </b>{{ nbProduct }} </span>
        </div>
        <a href="{{path('stripe_creat_session' , {'reference' : reference } )}}" class="btn btn-primary"> Payer | {{total | number_format(2, ',', '.') }} €</a>
    </div>
{% endblock %}
